.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  overflow: hidden;
  $svg-gradient-shim-threshold: 1 !global;
  background-image: linear-gradient(120deg, #D585FF, #00FFEE);
  // min-width: 980px;
}

.maincontent {
  width: 960px;
  margin: 0 auto;
}

.container {
  position: relative;
  margin-top: 10px;
  padding: 10px 15px;
  $svg-gradient-shim-threshold: 1 !global;
  background-image: linear-gradient(-45deg, rgba(252,165,241, .9), rgba(181,255,255, .3));
  display: flex;
  justify-content: space-between;
  flex-flow: row-reverse wrap;

  &__slider {
    width: 65%;
    margin-bottom: 45px;
    display: flex;
  }
}

@media all and (max-width: 960px) {
  .wrapper {
    min-width: 620px;
  }

  .maincontent {
    width: 600px;
  }

  .container {
    // justify-content: center;
    flex-flow: row wrap;
  }

  .accordeon {
    order: 1;
    align-self: flex-start;
    position: initial !important;
  }

  .tabs {
    order: 2;
    margin-top: -35px;
    height: 100% !important;
  }

  .slideshow {
    order: 5;
  }

  .slider {
    order: 3;
    margin-bottom: 15px;
    // margin: auto !important;
  }

  .container__slider {
    order: 4;
    width: auto;
    display: block;
    height: 190px;
    margin: auto !important;
  }
}


